/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 15, 2022, 1:20:48 PM
    Author     : hiramani
*/

/*
hides label on nepali datepicker
*/
.hidden{
    display: none;
}
.help-block{
    color: red;
}
/*
set red color to error messages in forms
*/
label{
    font-size: 14px;
}

.login-hp{
    padding-left: 25rem important;
}
@media only screen and (min-width: 601px) {
    .login-hp{
        padding-left: 25rem !important;
    }
}